{% extends "base.html" %}

{% block content %}
    <head>
        <title>Traffic Flow Analysis</title>
    </head>
    <body>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <h1>Upload Video for Analysis</h1>
            <div class="mb-3">
                <input type="file" name="uploaded_file">
            </div>
            
            <input type="submit" name="submit" value="Upload Video">
        </form>
        <h1>Videos Available for Analysis</h1>
        <ul>
            {% for video in video_list %}
                <li><a href='{{ url_for("run_model", file_name=video)}}'>{{ video }}</a></li>
                <!-- <h1><a href='{{ url_for("play_video", file_name=(video))}}'>Play Video</a></h1> -->
            {% endfor %}
        </ul>
        <h1>Analysed Video Available for Download</h1>
        <ul>
            {% for video in video_download_list %}
                <li><a href='{{ url_for("download_file", file_name=(video))}}'>{{ video }}</a>
                <h1><a href='{{ url_for("play_video", file_name=(video))}}'>Play Video</a></h1>

                </li>
            {% endfor %}
        </ul>

    </body>

{% endblock %}